<div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-center">
      <a class="navbar-brand text-white" href="#">Registration</a>
    </nav>
  </div>
<div class="row d-flex justify-content-center mt-4">
    <div class="col-xs-12">
        <form>
            <div class="column">
                <div class="col-m-6 form-group">
                    <label for="name" class=" d-flex justify-content-center">Name</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-m-6 form-group">
                    <label for="name" class=" d-flex justify-content-center">Email</label>
                    <input type="text" id="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-m-6 form-group">
                    <label for="amount" class="d-flex justify-content-center">Password</label>
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-m-6 form-group">
                    <label for="amount" class="d-flex justify-content-center">Confirm Password</label>
                    <input type="password" id="reEnteredPassword" class="form-control" [(ngModel)]="reEnteredPassword" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-sm-18">
                <div class="btn btn-success d-flex justify-content-center mt-4"  (click)="registerData(name,email,password,reEnteredPassword)" type="submit">Register</div><hr>
                <p class="registrationLink">Already have an account ? <a routerLinkActive="active" class="registrationLink" routerLink="/">Login</a></p>
            </div>
        </form>
    </div>
</div>
